@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .navbar-component{
        @apply relative w-6 h-6
        text-white
        hover:text-gray-400 hover:cursor-pointer
    }

    .navbar-tooltip{
        @apply absolute right-0 p-1.5 m-auto scale-0
        text-sm rounded-md
        bg-gray-950 text-white
        transition-all duration-100 origin-top-right
    }

    .project-tab{
        @apply relative w-[20%] h-[6%] pt-2 px-3 mt-2 mx-1 
        rounded-t-lg inline-block bg-slate-800
        hover:bg-slate-900 hover:cursor-pointer
        focus:bg-slate-900 focus:ring focus:ring-slate-950
    }

}